.ui-panel {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ui-calendar INPUT {
	width: 5em;
	text-align: center;
}

.ui-datagrid {
	margin-top: 20px;
	margin-bottom: 20px;
}

.ui-glr {
	width: 100%;
	display: block;
}

.ui-glr .ui-glr-item {
	width: 3em;
	height: 3em;
	margin: .2em .2em .2em .2em;
	padding: .2em .2em .2em .2em;
}

.ui-glr A.ui-commandlink {
	display: inline-block;
	text-decoration: none;
}

.ui-glr .ui-fileupload {
	display: inline-block;
	vertical-align: top;
}

.ui-glr .ui-fileupload .ui-fileupload-content {
	display: none;
}

.ui-glr .ui-fileupload .ui-fileupload-buttonbar {
	display: inline-block;
	vertical-align: top;
	height: 3em;
	padding: .2em .2em .2em .2em;
	margin: .2em .2em .2em .2em;
}

.ui-glr .ui-fileupload .ui-fileupload-buttonbar .ui-button {
	height: 3em;
}

.ui-glr .ui-fileupload .ui-fileupload-buttonbar .ui-button .ui-icon {
	display: none;
}

.ui-glr .ui-fileupload .ui-fileupload-buttonbar .ui-button .ui-button-text {
	padding: .3em .3em .3em .3em;
}