<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white">Является резидентом</th>
		<th style="background-color: gray; color: white">Город</th>
		<th style="background-color: gray; color: white">Адрес</th>
		<th style="background-color: gray; color: white">Страна резидентства</th>
	</tr>
	<tr>
		<td>$residenceData.resident</td>
		<td>$residenceData.city</td>
		<td>$residenceData.address</td>
		<td>$originData.country</td>
	</tr>
</table>
