/* .ui-panel { */
/* 	margin-top: 10px; */
/* 	margin-bottom: 10px; */
/* } */

/* .ui-calendar INPUT { */
/* 	width: 5em; */
/* 	text-align: center; */
/* } */

/* .ui-datagrid { */
/* 	margin-top: 20px; */
/* 	margin-bottom: 20px; */
/* } */
.policyCost {
	display: block;
	font-weight: bold;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

.policyCostLabel {
	display: block;
	text-align: center;
}

.mainTable {
	width: 100%;
}

.col1, .col2 {
	vertical-align: top;
	width: 50%;
}