<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white">Телефон</th>
		<th style="background-color: gray; color: white">E-mail</th>
	</tr>
	<tr>
		<td>$contactData.phone</td>
		<td>$contactData.email</td>
	</tr>
</table>