<h3>Данные водительского удостоверения</h3>
<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Номер</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Дата выдачи</th>
	</tr>
	<tr>
		<td>$driverLicenseData.number</td>
		<td>$driverLicenseData.dateOfIssue</td>
	</tr>
</table>
#set( $scanFiles = $driverLicenseData.scanFiles )
#include( "/emailTemplates/scanFiles.vm" )
