<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white">Номер</th>
		<th style="background-color: gray; color: white">Дата выдачи</th>
	</tr>
	<tr>
		<td>$gpwParticipantCertificateData.number</td>
		<td>$date.format('dd.MM.yyyy', $gpwParticipantCertificateData.dateOfIssue)</td>
	</tr>
</table>
#set( $scanFiles = $gpwParticipantCertificateData.scanFiles )
#parse( "/emailTemplates/scanFiles.vm" )
