<h3>Удостоверение инвалида</h3>
<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Номер</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Действителен с</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Действителен по</th>
	</tr>
	<tr>
		<td>$handicapedCertificateData.number</td>
		<td>$date.format('dd.MM.yyyy', $handicapedCertificateData.validFrom)</td>
		<td>$date.format('dd.MM.yyyy', $handicapedCertificateData.validTill)</td>
	</tr>
</table>
#set( $scanFiles = $handicapedCertificateData.scanFiles )
#parse( "/emailTemplates/scanFiles.vm" )
