<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white">Тип</th>
		<th style="background-color: gray; color: white">Номер</th>
		<th style="background-color: gray; color: white">Дата выдачи</th>
		<th style="background-color: gray; color: white">Орган выдачи</th>
	</tr>
	<tr>
		<td>$identityCardData.type</td>
		<td>$identityCardData.number</td>
		<td>$date.format('dd.MM.yyyy', $identityCardData.dateOfIssue)</td>
		<td>$identityCardData.issuingAuthority</td>
	</tr>
</table>
#set( $scanFiles = $identityCardData.scanFiles )
#parse( "/emailTemplates/scanFiles.vm" )
	