<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Полис</title>
<style type="text/css">
BODY {
	font-family: sans-serif;
	font-size: .8em;
	background-color: window;
	color: windowtext;
}

H1 {
	font-size: 2em;
	color: menutext;
	text-transform: uppercase;
}
</style>
</head>
<body>
	<h1>Общие сведения</h1>

	<h1>Страхователь</h1>
	<h2>$policy.insurant.personalData.displayName</h2>
	#set( $idData = $policy.insurant )
	#parse( "/emailTemplates/idData.vm" )
	#set( $personalData = $policy.insurant.personalData )
	#parse( "/emailTemplates/personalData.vm" )
	#set( $identityCardData = $policy.insurant.identityCardData )
	#parse( "/emailTemplates/identityCardData.vm" )

	#set( $residenceData = $policy.insurant.residenceData )
	#set( $originData = $policy.insurant.originData )
	#parse( "/emailTemplates/residenceAndOriginData.vm" )
	
	#set( $contactData = $policy.insurant.contactData )
	#parse( "/emailTemplates/contactData.vm" )

	<h1>Застрахованные водители</h1>
	#foreach( $driver in $policy.insuredDrivers )
		<h2>$driver.personalData.displayName</h2>
	    private InsuredAgeClassEnum ageClass = InsuredAgeClassEnum.UNSPECIFIED;
	    private InsuredExpirienceClassEnum expirienceClass = InsuredExpirienceClassEnum.UNSPECIFIED;
	
		#set( $idData = $driver )
		#parse( "/emailTemplates/idData.vm" )
		#set( $personalData = $driver.personalData )
		#parse( "/emailTemplates/personalData.vm" )
		#set( $identityCardData = $driver.identityCardData )
		#parse( "/emailTemplates/identityCardData.vm" )
		#set( $residenceData = $driver.residenceData )
		#set( $originData = $driver.originData )
		#parse( "/emailTemplates/residenceAndOriginData.vm" )
		#set( $driverLicenseData = $driver.driverLicenseData )
		#parse( "/emailTemplates/driverLicenseData.vm" )
		#if( $driver.priveleger )
			#set( $privilegerCertificateData = $driver.privilegerCertificateData )
			#parse( "/emailTemplates/privilegerCertificateData.vm" )
		#end
		#if( $driver.handicaped )
			#set( $handicapedCertificateData = $driver.handicapedCertificateData )
			#parse( "/emailTemplates/handicapedCertificateData.vm" )
		#end
		#if( $driver.gpwParticipant )
			#set( $gpwParticipantCertificateData = $driver.gpwParticipantCertificateData )
			#parse( "/emailTemplates/gpwParticipantCertificateData.vm" )
		#end
		#if( $driver.pensioner )
			#set( $pensionerCertificateData = $driver.pensionerCertificateData )
			#parse( "/emailTemplates/pensionerCertificateData.vm" )
		#end
	#end

	<h1>Застрахованные ТС</h1>
	#foreach( $vehicle in $policy.insuredVehicles )
		#set( $vehicleData = $vehicle.vehicleData)
		#parse( "/emailTemplates/vehicleData.vm" )
		#set( $vehicleCertificateData = $vehicle.vehicleCertificateData)
		#parse( "/emailTemplates/vehicleCertificateData.vm" )
	#end
</body>
</html>