<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Полис</title>
<style type="text/css">
BODY {
	font-family: sans-serif;
	font-size: .8em;
	background-color: white;
	color: black;
}

H1 {
	font-size: 2em;
	text-transform: uppercase;
	background-color: DarkBlue;
	color: white;
}

H2 {
	text-transform: capitalize;
}

</style>
</head>
<body>
	<h1>Общие сведения</h1>
	<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white">Срок страхования</th>
		<th style="background-color: gray; color: white">Дата поступления заявки</th>
		<th style="background-color: gray; color: white">Расчитанная стоимость</th>
	</tr>
	<tr>
		<td>$policy.termClass</td>
		<td>$date</td>
		<td><b>$policy.calculatedPremiumCost &#8376;</b></td>
	</tr>
	</table>

	<h1>Страхователь</h1>

	<h2>$policy.insurant.personalData.displayName</h2>
	#set( $idData = $policy.insurant )
	#parse( "/emailTemplates/idData.vm" )

	#set( $personalData = $policy.insurant.personalData )
	#parse( "/emailTemplates/personalData.vm" )

	<p><b>Контактные данные</b></p>
	#set( $contactData = $policy.insurant.contactData )
	#parse( "/emailTemplates/contactData.vm" )

	<p><b>Место жительства</b></p>
	#set( $residenceData = $policy.insurant.residenceData )
	#set( $originData = $policy.insurant.originData )
	#parse( "/emailTemplates/residenceAndOriginData.vm" )

	<p><b>Документ</b></p>
	#set( $identityCardData = $policy.insurant.identityCardData )
	#parse( "/emailTemplates/identityCardData.vm" )

	<h1>Застрахованные водители</h1>
	#foreach( $driver in $policy.insuredDrivers )
		<h2>$driver.personalData.displayName</h2>
		<table cellpadding="3" cellspacing="3" border="0" width="100%">
		<tr>
			<th style="background-color: gray; color: white">Возраст</th>
			<th style="background-color: gray; color: white">Водительский стаж</th>
			<th style="background-color: gray; color: white">Класс страхования</th>
		</tr>
		<tr>
			<td>$driver.ageClass</td>
			<td>$driver.expirienceClass</td>
			<td><b>$driver.insuranceClassType</b></td>
		</tr>
		</table>
		
		#set( $idData = $driver )
		#parse( "/emailTemplates/idData.vm" )
		#set( $personalData = $driver.personalData )
		#parse( "/emailTemplates/personalData.vm" )

		<p><b>Документ</b></p>
		#set( $identityCardData = $driver.identityCardData )
		#parse( "/emailTemplates/identityCardData.vm" )

		<p><b>Место жительства</b></p>
		#set( $residenceData = $driver.residenceData )
		#set( $originData = $driver.originData )
		#parse( "/emailTemplates/residenceAndOriginData.vm" )

		<p><b>Данные водительского удостоверения</b></p>
		#set( $driverLicenseData = $driver.driverLicenseData )
		#parse( "/emailTemplates/driverLicenseData.vm" )

		#if( $driver.priveleger )
			<p><b>Документ удостовреюящий право на привелегии</b></p>
			#set( $privilegerCertificateData = $driver.privilegerCertificateData )
			#parse( "/emailTemplates/privilegerCertificateData.vm" )
		#end

		#if( $driver.handicaped )
			<p><b>Удостоверение инвалида</b></p>
			#set( $handicapedCertificateData = $driver.handicapedCertificateData )
			#parse( "/emailTemplates/handicapedCertificateData.vm" )
		#end

		#if( $driver.gpwParticipant )
			<p><b>Удостоверение участника ВОВ</b></p>
			#set( $gpwParticipantCertificateData = $driver.gpwParticipantCertificateData )
			#parse( "/emailTemplates/gpwParticipantCertificateData.vm" )
		#end

		#if( $driver.pensioner )
			<p><b>Удостоверение пенсионера</b></p>
			#set( $pensionerCertificateData = $driver.pensionerCertificateData )
			#parse( "/emailTemplates/pensionerCertificateData.vm" )
		#end
	#end

	<h1>Застрахованные ТС</h1>
	#foreach( $vehicle in $policy.insuredVehicles )
		<h2>$vehicle.displayName</h2>
		#set( $vehicleData = $vehicle.vehicleData)
		#parse( "/emailTemplates/vehicleData.vm" )

		<p><b>Свидиетельсвто о регистрации ТС</b></p>
		#set( $vehicleCertificateData = $vehicle.vehicleCertificateData)
		#parse( "/emailTemplates/vehicleCertificateData.vm" )
	#end
</body>
</html>