<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Полис</title>
<style type="text/css">
BODY {
	font-family: sans-serif;
	font-size: .8em;
	background-color: window;
	color: windowtext;
}

H1 {
	font-size: 2em;
	color: menutext;
	text-transform: uppercase;
}
</style>
</head>
<body>
	<h1>Общие сведения</h1>

	<h1>Страхователь</h1>
	#set( $idData = $policy.insurant)
	#include( "/emailTemplates/idData.vm" )
	#set( $personalData = $policy.insurant.personalData)
	#include( "/emailTemplates/personalData.vm" )
	#set( $identityCardData = $policy.insurant.identityCardData)
	#include( "/emailTemplates/identityCardData.vm" )

	#set( $residenceData = $policy.insurant.residenceData )
	#set( $originData = $policy.insurant.originData )
	#include( "/emailTemplates/residenceAndOriginData.vm" )
	
	#set( $contactData = $policy.insurant.contactData )
	#include( "/emailTemplates/contactData.vm" )

	<h1>Застрахованные водители</h1>
	#foreach( $driver in $policy.insuredDrivers )
		#set( $idData = $driver)
		#include( "/emailTemplates/idData.vm" )
		#set( $personalData = $driver.personalData)
		#include( "/emailTemplates/personalData.vm" )
		#set( $identityCardData = $driver.identityCardData)
		#include( "/emailTemplates/identityCardData.vm" )
		#set( $residenceData = $driver.residenceData )
		#set( $originData = $driver.originData )
		#include( "/emailTemplates/residenceAndOriginData.vm" )
		#set( $driverLicenseData = $driver.driverLicenseData )
		#include( "/emailTemplates/driverLicenseData.vm" )
	#end

	<h1>Застрахованные ТС</h1>
	#foreach( $vehicle in $policy.insuredVehicles )
		<h2>$vehicle.displayName</h2>
		#set( $vehicleData = $vehicle.vehicleData)
		#include( "/emailTemplates/vehicleData.vm" )
		#set( $vehicleCertificateData = $vehicle.vehicleCertificateData)
		#include( "/emailTemplates/vehicleCertificateData.vm" )
	#end
</body>
</html>