<h3>Документ удостовреюящий право на привелегии</h3>
<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Тип</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Номер</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Дата выдачи</th>
	</tr>
	<tr>
		<td>$privilegerCertificateData.type</td>
		<td>$privilegerCertificateData.number</td>
		<td>$date.format('dd.MM.yyyy', $privilegerCertificateData.dateOfIssue)</td>
	</tr>
</table>
#set( $scanFiles = $privilegerCertificateData.scanFiles )
#parse( "/emailTemplates/scanFiles.vm" )
