<h2>Данные места жительства</h2>
<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Является резидентом</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Город</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Адрес</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Страна резидентства</th>
	</tr>
	<tr>
		<td>$residenceData.resident</td>
		<td>$residenceData.city</td>
		<td>$residenceData.address</td>
		<td>$originData.country</td>
	</tr>
</table>
