<h3>Свидиетельсвто о регистрации ТС</h3>
<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Номер</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Дата
			выдачи</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Рег.номер
			ТС</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Регион
			регистрации ТС</th>
		<th style="background-color: gray; color: white; border-style: solid; border-color: gray">Является
			городом областного значения</th>
	</tr>
	<tr>
		<td>$vehicleCertificateData.number</td>
		<td>$vehicleCertificateData.dateOfIssue</td>
		<td>$vehicleCertificateData.registrationNumber</td>
		<td>$vehicleCertificateData.region</td>
		<td>$vehicleCertificateData.majorCity</td>
	</tr>
</table>
#set( $scanFiles = $vehicleCertificateData.scanFiles )
#include( "/emailTemplates/scanFiles.vm" )
	