<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white">VIN</th>
		<th style="background-color: gray; color: white">Марка</th>
		<th style="background-color: gray; color: white">Модель</th>
		<th style="background-color: gray; color: white">Цвет</th>
		<th style="background-color: gray; color: white">Год выпуска ТС</th>
	</tr>
	<tr>
		<td>$vehicleData.vinCode</td>
		<td>$vehicleData.manufacturer</td>
		<td>$vehicleData.model</td>
		<td>$vehicleData.color</td>
		<td>$date.format('dd.MM.yyyy', $vehicleData.yearOfIssue)</td>
	</tr>
</table>