<table cellpadding="3" cellspacing="3" border="0" width="100%">
	<tr>
		<th style="background-color: gray; color: white">ИИН</th>
		<th style="background-color: gray; color: white">РНН</th>
	</tr>
	<tr>
		<td>$idData.idNumber</td>
		<td>$idData.taxPayerNumber</td>
	</tr>
</table>
	